* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Soin page structure */
.soin-page {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFA;
    min-height: 100vh;
}

/* Table Container */
.table-container {
    padding: 20px;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin: 20px 0;
    font-size: 16px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-top: 2px solid #ddd;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

/* Table Header */
th {
    font-weight: bold;
    padding: 12px 15px;
}

/* Table Rows */
td {
    padding: 12px 15px;
}

tbody {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

/* Alternating Row Colors */
tbody tr:nth-child(odd) {
    background-color: #FFFFFA;
}

tbody tr:nth-child(even) {
    background-color: #EDF2FB;
}

tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Modal Styling */
.modal.show {
    display: flex;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    width: 400px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow-y: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.modal-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}

#modal-summary {
    font-size: 14px;
    text-align: center;
    padding: 10px;
}
