<div class="contact">
<div class="contactForm">
    <div class="text">
        <h1>Contact Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in justo in lacus molestie malesuada. Pellentesque sed blandit arcu. Vestibulum sit amet velit nibh. </p>

    </div>

    <div class="inputs">
        <div class="email">
            <p class="labeltext">Email</p>
            <input type="email" id="Email">
        </div>
        <div class="Object">
            <p class="labeltext">Object</p>
            <input type="text" id="Object">
        </div>
        <div class="message">
            <p class="labeltext">Message</p>
            <input type="text" id="Message">
        </div>
    </div>
    <div>
        <button class="red-button">Send</button>
    </div>
    

</div>
</div>
