<div class="doctor-page">
    <!-- Sidebar -->
    <div class="sidebar">
        <img src="Logo1.png" alt="Logo" class="logo-image">
        
        <a (click)="goHome()" class="menu-item active">
            <img src="home.png" alt="Patients Icon" class="icon">
            <span class="menu-text">Home</span>
        </a>
    </div>


    <!-- Main Content -->
    <div class="page-content">
        <!-- Top Bar -->
        <div class="top">
            <div></div>
            <div class="profile">
                <img src="Profile.png" alt="Profile Picture">
                <span>{{ generalInfo?.nom || 'patient' }}</span>
            </div>
        </div>

        <!-- Navbar -->
        <div class="nav-bar">


            <a [routerLink]="['/patient/Patient/all']" [queryParams]="{
                nom: name, 
                numSecuriteSociale: numSecuriteSociale, 
                idSejour: idSejour,
                debutSejour: debutSejour,
                finSejour: finSejour
              }" routerLinkActive="active">Consultation</a>

              <a [routerLink]="['/patient/Patient/medication']" [queryParams]="{
                nom: name, 
                numSecuriteSociale: numSecuriteSociale, 
                idSejour: idSejour,
                debutSejour: debutSejour,
                finSejour: finSejour
              }" routerLinkActive="active">Medication</a>

              <a [routerLink]="['/patient/Patient/lab-results']" [queryParams]="{
                nom: name, 
                numSecuriteSociale: numSecuriteSociale, 
                idSejour: idSejour,
                debutSejour: debutSejour,
                finSejour: finSejour
              }" routerLinkActive="active" >Lab Results</a>

              <a [routerLink]="['/patient/Patient/soin']" [queryParams]="{
                nom: name, 
                numSecuriteSociale: numSecuriteSociale, 
                idSejour: idSejour,
                debutSejour: debutSejour,
                finSejour: finSejour
              }" routerLinkActive="active">Soins</a>

        </div>

        <!-- Dynamic Content -->
        <div class="content">
            <router-outlet></router-outlet>

        </div>



    </div>
  </div>