<div class="services">
    <div class="title">
        <h1>Nos Services</h1>
    </div>
    <div class="Container">
        <div class="card1">
            <img src="Doctor.png" alt="Doctor">
            <div class="cardText">
                <p>Gagnez du temps et simplifiez le processus en créant des ordonnances claires, partagées avec vos patients et collègues professionnels de santé.</p>
            </div>
        </div>
        <div class="card2">
            <img src="Lab.png" alt="Lab">
            <div class="cardText">
                <p>Facilitez la communication et le partage des données médicales et renforcer la coordination entre médecins, laboratoires, radiologues et autres professionnels.</p>
            </div>
        </div>
        <div class="card3">
            <img src="Patient.png" alt="Patient">
            <div class="cardText">
                <p>Consultez les antécédents médicaux, diagnostics, résultats d’analyse et autres données importantes instantanément. Notre solution vous garantit une gestion rapide et sécurisée des informations médicales, quel que soit l’endroit où vous vous trouvez.</p>
            </div>
        </div>
    </div>
</div>
