
<div class="main-container">
  <!-- Sidebar -->
  

  <!-- Main Content Wrapper -->
  <div class="main-content-wrapper">
    <!-- Top Bar -->
  

    <!-- Content Section -->
    <div class="content">
      <!-- Patient Header -->
      <div class="patient-header">
        <h2 class="patient-name">{{ nom || 'Non spécifié' }}</h2>
        <div class="patient-actions">
          
          <button class="btn btn-ajouter" (click)="openDialog()">Ajouter</button>
        </div>
      </div>

      <!-- Navigation Line -->
      <div class="nav-line"></div>

      <!-- Main Content -->
      <div class="main-content">
        <!-- General Information -->
        <div class="general-info">
          <div class="field">
            <span class="field-name">Date d'arrivée :</span>
            <span class="field-value">{{ debutSejour || 'Non spécifié' }}</span>
          </div>
          <hr />
          <div class="field">
            <span class="field-name">Fin du séjour :</span>
            <span class="field-value">{{ finSejour || 'Non spécifié' }}</span>
          </div>
          <hr />
        </div>

        <!-- Vertical Line -->
        <div class="vertical-line"></div>

        <!-- Dossiers -->
        <div class="dossiers-container">
          <div class="dossier" 
          *ngFor="let dossier of dossiers"
          [routerLink]="['/patient/Patient/consultation'] "
          [queryParams]="{
            nom: nom, 
             numSecuriteSociale: numSecuriteSociale, 
             idSejour: idSejour,
             debutSejour: debutSejour,
             finSejour: finSejour,
            idConsultation: dossier.id }">
           <img src="Dossier.png" alt=" dossier.date" />
            <div class="date">{{dossier.date }}</div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>

