<div class="add-member-container">
  <div class="add-member-header">
    <h2>Add Member</h2>
    <button mat-icon-button class="close-btn" aria-label="Close" (click)="closeDialog()">
      <mat-icon>X</mat-icon>
    </button>
  </div>
  <form (submit)="addMember($event)" enctype="multipart/form-data">
  <div class="add-member-body">
    <img src="Add.png" alt="Add Icon" class="add-icon" />
    <div class="form-container">
      <div class="custom-form-field">
        <label for="name">Full Name</label>
        <input id="name" #nom name="name" required />
      </div>

      <div class="custom-form-field">
        <label for="email">Email</label>
        <input id="email" #email name="email" required />
      </div>

      <div class="custom-form-field">
        <label for="profession">Profession</label>
        <select id="profession" #profession name="profession" required>
          <option value="Chirurgien">Médecin Chirurgien</option>
          <option value="Généraliste">Médecin Généraliste</option>
          <option value="Pédiatre"> Médecin Pédiatre</option>
          <option value="Endocrinologue">Médecin Endocrinologue</option>
          <option value="Cardiologue">Médecin Cardiologue</option>
          <option value="Dermatologue">Médecin Dermatologue</option>
          <option value="Neurologue">Médecin Neurologue</option>
          <option value="ORL">Médecin ORL</option>
          <option value="Obstétricien">Médecin Obstétricien</option>
          <option value="Ostéologue">Médecin Ostéologue</option>
          <option value="Ophtalmologue">Médecin Ophtalmologue</option>
          <option value="Gastro-entérologue">Médecin Gastro-entérologue</option>
          <option value="Néphrologue">Médecin Néphrologue</option>
          <option value="Anesthésiste">Médecin Anesthésiste</option>
          <option value="Urgences">Personnel administratif: Urgences</option>
          <option value="Réanimation">Personnel administratif: Réanimation</option>
          <option value="Cardiologie">Personnel administratif: Cardiologie</option>
          <option value="Endocrinologie">Personnel administratif: Endocrinologie</option>
          <option value="Dermatologie">Personnel administratif: Dermatologie</option>
          <option value="Neurologie">Personnel administratif: Neurologie</option>
          <option value="Obstétrique">Personnel administratif: Obstétrique</option>
          <option value="Ostéologie">Personnel administratif: Ostéologie</option>
          <option value="Ophtalmologie">Personnel administratif: Ophtalmologie</option>
          <option value="ORL">Personnel administratif: ORL</option>
          <option value="Gastro-entérologie">Personnel administratif: Gastro-entérologie</option>
          <option value="Néphrologie">Personnel administratif: Néphrologie</option>
          <option value="Orthopédie">Personnel administratif: Orthopédie</option>
          <option value="Anesthésiologie">Personnel administratif: Anesthésiologie</option>
          <option value="de bloc opératoire">Infirmier de bloc opératoire</option>
          <option value="anesthésiste">Infirmier anesthésiste</option>
          <option value="puériculteur">Infirmier puériculteur</option>
          <option value="en pratique avancée">Infirmier en pratique avancée</option>
          <option value="hygiéniste">Infirmier hygiéniste</option>
          <option value="coordinateur">Infirmier coordinateur</option>
          <option value="radiologue">Radiologue</option>
          <option value="laborantin">Laborantin</option>
        </select>
      </div>

      <div class="custom-form-field">
        <label for="hospital">Hospital</label>
        <select #hopital name="hospital" required>
          <option *ngFor="let hospital of hospitals" [value]="hospital.nom">
            {{ hospital.nom }}
          </option>
        </select>
      </div>

      <div class="custom-form-field">
        <label for="password">Password</label>
        <input id="password" type="password" #passwd name="password" required />
      </div>

      <button mat-raised-button color="primary" class="confirm-btn">Confirm</button>
    </div>
  </div>
</form>
</div>