/* Import the font from Google Fonts */
*{
    font-family: 'Source Sans Pro', sans-serif;
}
/* General layout */
.main-container {
  display: flex;
  height: 100vh;
  background-color: #FFFFFA;
  font-family: 'Source Sans Pro', sans-serif;
}








.menu-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    text-decoration: none;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease-in-out;
}

.menu-item .icon {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.menu-item.active {
    background-color: #a3d2e2;
    color: #FFFFFA;
}

.menu-item:hover {
    background-color: #a3d2e2;
    color: #FFFFFA;
}

.menu-item .menu-text {
    text-align: center;
    font-size: 16px;
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fffffa; /* Fond blanc */
  border-bottom: 1px solid black; /* Trait noir en bas */
}



.table-container {
  padding: 20px;
}

.header-with-button {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Place les éléments au début */
  gap: 20px; /* Ajoute un espace entre le titre et le bouton */
  margin-top: 5px;
}

.header-with-button h2 {
  margin: 0;
  font-size: 24px;
}

.add-button {
  background-color: #EDF2FB;
  color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #000; /* Bordure noire */
}

.add-button img {
  width: 20px;
  height: 20px;
}

.table {
  margin-top: 20px;
}

.table-header,
.table-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 10px;
}

.table-header {
  background-color: #fffffa;
  font-weight: bold;
  color: black;
  border: none;
}




  
  /* Table-row hover */
  .table-row {
    background-color: #EDF2FB;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 27px;
    cursor: pointer; /* Make rows clickable */
  }
  
  .table-row:hover {
    background-color: #add8e6;
  }
  

.cell {
  text-align: center;
  padding: 12px;
  color: black;
  background-color: transparent;
}