<div class="soin-page">
    <!-- Soin Table -->
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Infirmier</th>
                    <th>Type de Soin</th>
                    <th>Détails</th>
                </tr>
            </thead>
            <tbody *ngIf="soins.length > 0; else loading">
              <tr *ngFor="let soin of soins" (click)="openModal(soin)">
                <td>{{ soin.infirmier }}</td>
                <td>{{ soin.type }}</td>
                <td>{{ soin.details }}</td>
              </tr>
            </tbody>
            <ng-template #loading>
              <tr>
                <td colspan="3">Loading data...</td>
              </tr>
            </ng-template>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal" [class.show]="isModalOpen" (click)="onBackgroundClick($event)">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <span class="close-button" (click)="closeModal()">&times;</span>
            <h3 class="modal-title">Résumé</h3>
            <div id="modal-summary">
                {{ modalData.details }}
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>

</div>

