<!--

<div class="blood-page">
    <div class="top">
      <a href="/lab-results" class="previous">Lab Results</a>
      <img src="next.png" alt="next">
      <a class="current">Blood Count Test</a>
    </div>
  
    <div class="cards">
      <div class="blood-count-test">
        <p class="title2">Complete Blood Count</p>
        <div class="card" >
            <div *ngFor="let data of modalData">
                <div class="form-group" id="white">
                    <div class="label"><label>{{ data.name }}</label></div>
                    <span class="value">{{ data.resultat }}  - {{ data.unite }}</span>
                </div>
                
            </div>
        </div>
        <ngx-charts-bar-vertical
        [view]="[400, 300]"
          [scheme]="'cool'"
          [results]="chartData1"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [yAxisLabel]="yAxisLabel">
           </ngx-charts-bar-vertical>
      </div>
  
      <div class="Biomarkers">
        <p class="title2">Biomarkers Monitoring</p>
        <div class="card" >
            <div *ngFor="let data of modalData2">
                <div class="form-group" id="white">
                    <div class="label"><label>{{ data.name }}</label></div>
                    <span class="value">{{ data.resultat }}  - {{ data.unite }}</span>
                </div>
                
            </div>
        </div>
        <ngx-charts-bar-vertical
        [view]="[400, 300]"
          [scheme]="'cool'"
          [results]="chartData2"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
      </div>
    </div>
  </div>
-->
<div class="blood-page">
    <div class="top">
      <a href="/lab-results" class="previous">Lab Results</a>
      <img src="next.png" alt="next">
      <a class="current">Blood Count Test</a>
    </div>
  
    <div class="cards">
      <div class="blood-count-test">
        <p class="title2">Complete Blood Count</p>
        <div class="card">
          <div *ngFor="let data of modalData">
            <div class="form-group" id="white">
              <div class="label"><label>{{ data.name }}</label></div>
              <span class="value">{{ data.resultat }} - {{ data.unite }}</span>
            </div>
          </div>
        </div>
        <div id="chart1">
            <ngx-charts-bar-vertical
              [view]="view"
              [scheme]="'vivid'"
              [results]="chartData1"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [xAxisLabel]="xAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [yAxisLabel]="yAxisLabel">
            </ngx-charts-bar-vertical>
          </div>
        <button (click)="save('chart1', 'blood_count_graph', 'png')">Save graphe as PNG</button>
        

           
      
      </div>
  
      <div class="Biomarkers">
        <p class="title2">Biomarkers Monitoring</p>
        <div class="card">
          <div *ngFor="let data of modalData2">
            <div class="form-group" id="white">
              <div class="label"><label>{{ data.name }}</label></div>
              <span class="value">{{ data.resultat }} - {{ data.unite }}</span>
            </div>
          </div>
        </div>
        <div id="chart2">
          <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="'cool'"
            [results]="chartData2"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [yAxisLabel]="yAxisLabel">
          </ngx-charts-bar-vertical>
        </div>
        <button (click)="save('chart2', 'biomarkers_graph', 'png')">Save graphe as PNG</button>
      </div>
    </div>
  </div>
  
