.mission {
    background-color: #8ECAE6;
    
    padding-top: 20px;
    padding-bottom: 40px;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px; 
    color: #FFFFFA; 
    text-align: center;
    margin-bottom: 40px;
}

.yapping {
    width: 80%; 
    max-width: 800px; 
    margin: 0 auto; 
    font-size: 18px; 
    font-family: 'Source Sans Pro', sans-serif; 
    line-height: 1.6; 
    text-align: center;
}
