<div class="mission">
    <h1 >Notre mission</h1>
    <div class="yapping">
        <p><strong>Révolutionner la santé avec des données organisées et une collaboration efficace</strong> </p>

          <p>  Chez Healio, nous transformons la gestion des soins en connectant les professionnels de santé et en responsabilisant les patients. Notre plateforme simplifie la tenue des dossiers, réduit les charges administratives et améliore les soins, tout en garantissant confidentialité et accessibilité.</p>
    </div>

</div>