<div class="content">
    

    <div class="regroup">
        <div class="content-text">
            <div class="title">
                <p>Welcome to our Platform</p>
            </div>
            <div class="yapping">
                <p>Lorem shshshsh ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in justo in lacus molestie malesuada. Fusce ac justo dapibus, dictum quam eget, lacinia nunc. Duis elementum eros ex, at commodo diam ornare quis. Phasellus ac nunc nec massa hendrerit pellentesque. Pellentesque sed blandit arcu. Vestibulum sit amet velit nibh. </p>
            </div>
        </div>
        
    
        <div class="illustration">
            <img src="Hero.png" alt="Hero.png">
    
        </div>
    </div>
    
    

</div>