<div class="content">
    

    <div class="regroup">
        <div class="content-text">
            <div class="title">
                <p>Bienvenue sur Healio</p>
            </div>
            <div class="yapping">
                <p> <i>Votre solution complète de gestion des dossiers médicaux</i></p>

                 <p>   Avec Healio, nous comblons le fossé entre les patients, les médecins, les infirmiers, les radiologues et les laborantins en offrant une plateforme intuitive pour gérer et accéder aux dossiers médicaux. Conçue pour simplifier les processus de santé, Healio garantit efficacité, précision et collaboration dans la prise en charge des patients. </p>
            </div>
        </div>
        
    
        <div class="illustration">
            <img src="Hero.png" alt="Hero.png">
    
        </div>
    </div>
    
    

</div>