<div class="container">
    <h1 class="title">Soins Infirmiers</h1>
    <div class="content">
        <div class="left">
            <img src="Infirmier.png" alt="Image" class="image">
        </div>
        <div class="right">
            <label for="input1">Nom</label>
            <input type="text" id="input1">
            
            <label for="input2">Type de soins</label>
            <input type="text" id="input2">
            
            <label for="input3">Résumé</label>
            <textarea id="input3"></textarea>
            
            <button class="next-button">Confirmer</button>
        </div>
    </div>
  </div>