<div class="services">
    <div class="title">
        <h1>Our Services</h1>
    </div>
    <div class="Container">
        <div class="card1">
            <img src="Doctor.png" alt="Doctor">
            <div class="cardText">
                <p>Phasellus ac nunc nec massa hendrerit pellentesque. Pellentesque sed blandit arcu. Vestibulum sit amet velit nibh. </p>
            </div>
        </div>
        <div class="card2">
            <img src="Lab.png" alt="Lab">
            <div class="cardText">
                <p>Phasellus ac nunc nec massa hendrerit pellentesque. Pellentesque sed blandit arcu. Vestibulum sit amet velit nibh. </p>
            </div>
        </div>
        <div class="card3">
            <img src="Patient.png" alt="Patient">
            <div class="cardText">
                <p>Phasellus ac nunc nec massa hendrerit pellentesque. Pellentesque sed blandit arcu. Vestibulum sit amet velit nibh. </p>
            </div>
        </div>
    </div>
</div>
